# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/

# Logs
*.log

# PyCaret / MLflow
artifacts/
mlartifacts/
mlruns/
catboost_info/

# Jupyter
.ipynb_checkpoints/

# Hydra
outputs/

# DVC
.dvc/tmp/
.dvc/cache/
.dvc/tmp/
.dvc/config.local
_dvcstore/

